swagger: '2.0'
info:
  description: >-
    API d'accès aux documents d'urbanisme et aux servitudes d'utilité publique français.
    
    Toutes les données proviennent du [géoportail de l'urbanisme](https://www.geoportail-urbanisme.gouv.fr/).
    
    Cette version 0.3.0 ajoute à la version 0.2.0 l'accès aux servitudes d'utilité publiques (SUP).
    Cette définition n'est pas finalisée ;
    il est notamment nécessaire de prendre en compte l'id du gestionnaire de SUP.
    
  version: 0.3.0
  title: API d'accès aux documents d'urbanisme et aux servitudes d'utilité publique français
  termsOfService: 'http://urba.geoapi.fr/terms/'
  contact:
    email: urba@geoapi.fr
  license:
    name: Licence ouverte version 2.0
    url: 'https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf'
host: urba.geoapi.fr
basePath: /
schemes:
  - http
  - https
paths:
  /:
    get:
      tags:
        - documentation de l'API
      summary: Retourne la documentation de l'API générée par http://swagger.io/ en HTML ou en JSON
      operationId: doc
      produces:
        - text/html
        - application/json
      responses:
        '200':
          description: opération réussie
  /autorites:
    get:
      tags:
        - document d'urbanisme
      summary: Retourne les autorités en charge de documents d'urbanisme (communes et EPCI)
      description: >-
        La liste retournée peut être filtrée grâce aux paramètres ;
        les documents d'urbanismes des autorités ne sont pas retournés.
      operationId: listeAutorites
      produces:
        - application/json
      parameters:
        - name: commune
          in: query
          description: code(s) INSEE d'une (plusieurs) commune(s) intersectant le territoire des autorités
          type: array
          items:
            type: string
        - name: epci
          in: query
          description: code(s) SIRENE d'un (plusieurs) EPCI intersectant le territoire des autorités
          type: array
          items:
            type: string
        - name: departement
          in: query
          description: code(s) INSEE d'un (plusieurs) département(s) intersectant le territoire des autorités
          type: array
          items:
            type: string
        - name: q
          in: query
          description: motif (regexp) correspondant au nom de l'autorité
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              $ref: '#/definitions/Autorite'
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/autorites/{idAutorite}':
    get:
      tags:
        - document d'urbanisme
      summary: Retourne les caractéristiques de l'autorité définie par son identifiant ainsi que ses documents d'urbanisme
      operationId: autoriteParId
      produces:
        - application/json
      parameters:
        - name: idAutorite
          in: path
          description: ID de l'autorité à retourner
          required: true
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            $ref: '#/definitions/Autorite'
        '400':
          description: id fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/docurba/{idurba}':
    get:
      tags:
        - document d'urbanisme
      summary: Retourne les caractéristiques du document d'urbanisme défini par son identifiant, y compris la liste de ses pièces écrites
      operationId: docUrbaParId
      produces:
        - application/json
      parameters:
        - name: idurba
          in: path
          description: ID du document d'urbanisme demandé
          required: true
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            $ref: '#/definitions/DocUrba'
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
        '500':
          description: erreur du serveur
  '/docurba/{idurba}/metadata':
    get:
      tags:
        - document d'urbanisme
      summary: Retourne les métadonnées ISO 19115 associées au document d'urbanisme défini par son identifiant
      operationId: mdDocUrbaParId
      produces:
        - application/xml
      parameters:
        - name: idurba
          in: path
          description: ID du document d'urbanisme demandé
          required: true
          type: string
      responses:
        '200':
          description: document XML des métadonnées
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
        '500':
          description: erreur du serveur
  '/docurba/{idurba}/Pieces_ecrites/{sschemin}':
    get:
      tags:
        - document d'urbanisme
      summary: Retourne, a priori en PDF, une des pièces écrites associées au document défini par son identifiant
      operationId: getOnePieceEcriteForDu
      produces:
        - application/pdf
      parameters:
        - name: idurba
          in: path
          description: ID du document d'urbanisme
          required: true
          type: string
        - name: sschemin
          in: path
          description: sous-chemin du document dans le zip après Pieces_ecrites/
          required: true
          type: string
      responses:
        '200':
          description: un fichier PDF
          schema:
            type: file
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/docurba/{idurba}/{classeCnig}':
    get:
      tags:
        - document d'urbanisme
      summary: Retourne les objets géographiques {classeCnig} correspondants au document défini par son identifiant
      operationId: objetsGeoDeDocUrba
      produces:
        - application/json
      parameters:
        - name: idurba
          in: path
          description: ID du document d'urbanisme
          required: true
          type: string
        - name: classeCnig
          in: path
          description: classe d'objets géographiques définie par le standard CNIG
          required: true
          type: string
          enum:
            - ZONE_URBA
            - SECTEUR_CC
            - PRESCRIPTION_PCT
            - PRESCRIPTION_LIN
            - PRESCRIPTION_SURF
            - INFO_PCT
            - INFO_LIN
            - INFO_SURF
            - HABILLAGE_PCT
            - HABILLAGE_LIN
            - HABILLAGE_SURF
            - HABILLAGE_TXT
      responses:
        '200':
          description: opération réussie
          schema:
            $ref: '#/definitions/FeatureCollection'
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  /codesup:
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les catégories de servitudes d'utilité publiques (SUP)
      operationId: categoriesSup
      produces:
        - application/json
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              type: object
              required:
                - codeSup
                - libelleSup
              properties:
                codeSup:
                  type: string
                  description: code définissant la catégorie de SUP
                  example: PM3
                libelleSup:
                  type: string
                  description: libellé de la catégorie de SUP
                  example: Zones réglementées des plans de prévention des risques technologiques (PPRT)
                decoupage:
                  type: string
                  description: définition du découpage des jeux de données
                  enum:
                    - departement
                urlFiche:
                  type: string
                  description: URL de la fiche présentant cette catégorie de SUP
                  example: http://www.geoinformations.developpement-durable.gouv.fr/fichier/pdf/fiche_pm3_cle078662.pdf?arg=177835096&cle=ccc13553ec66986d3e142f5d40e150fc14366aa8&file=pdf%2Ffiche_pm3_cle078662.pdf
  /jdsup:
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les catégories de servitudes d'utilité publiques (SUP) pour lesquelles au moins un jeu de données (JD) de SUP est exposé
      operationId: categoriesSupJD
      produces:
        - application/json
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              type: object
              required:
                - codeSup
                - libelleSup
              properties:
                codeSup:
                  type: string
                  description: code définissant la catégorie de SUP
                  example: PM3
                libelleSup:
                  type: string
                  description: libellé de la catégorie de SUP
                  example: Zones réglementées des plans de prévention des risques technologiques (PPRT)
                decoupage:
                  type: string
                  description: définition du découpage des jeux de données
                  enum:
                    - departement
                urlFiche:
                  type: string
                  description: URL de la fiche présentant cette catégorie de SUP
                  example: http://www.geoinformations.developpement-durable.gouv.fr/fichier/pdf/fiche_pm3_cle078662.pdf?arg=177835096&cle=ccc13553ec66986d3e142f5d40e150fc14366aa8&file=pdf%2Ffiche_pm3_cle078662.pdf
  '/jdsup/{codeSup}':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les territoires pour lesquels au moins un jeu de données (JD) de SUP est exposé pour la catégorie de SUP fournie
      operationId: territoiresSup
      produces:
        - application/json
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              type: object
              required:
                - codeTerritoire
                - libelleTerritoire
              properties:
                codeTerritoire:
                  type: string
                  description: code définissant le territoire
                  example: 13
                libelleTerritoire:
                  type: string
                  description: libellé du territoire
                  example: Département des Bouches du Rhône
        '400':
          description: code fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/jdsup/{codeSup}/{codeTerritoire}':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les jeux de données exposés pour la catégorie de SUP et le territoire
      operationId: jdSup
      produces:
        - application/json
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
        - name: codeTerritoire
          in: path
          description: code définissant le territoire sur lequel des SUP sont définies
          required: true
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              type: object
              required:
                - codeSup
                - codeTerritoire
                - dateRef
                - libelle
              properties:
                codeSup:
                  type: string
                  example: PM3
                codeTerritoire:
                  type: string
                  example: 13
                dateRef:
                  type: string
                  description: date de référence du jeu de données sous la forme AAAAMMJJ
                  example: 20180115
                libelle:
                  type: string
                  description: libellé du jeu de données
                  example: SUP PM3 sur les Bouches du Rhône, version du 15/01/2018
        '400':
          description: code fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/jdsup/{codeSup}/{codeTerritoire}/{dateRef}':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les caractéristiques du JD de SUP défini par la catégorie de SUP, le territoire et la date de référence, y compris les URL des actes exposés
      operationId: lesActesSup
      produces:
        - application/json
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
        - name: codeTerritoire
          in: path
          description: code définissant le territoire sur lequel des SUP sont définies
          required: true
          type: string
        - name: dateRef
          in: path
          description: date de référence du jeu de données pour la catégorie de SUP et le territoire
          required: true
          type: string
      responses:
        '200':
          description: opération réussie
          schema:
            type: array
            items:
              type: string
              description: liste des URL des actes
        '400':
          description: code fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/jdsup/{codeSup}/{codeTerritoire}/{dateRef}/metadata':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les métadonnées ISO 19115 associées au JD de SUP défini par la catégorie de SUP, le territoire et la date de référence
      operationId: mdSupParId
      produces:
        - application/xml
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
        - name: codeTerritoire
          in: path
          description: code définissant le territoire sur lequel des SUP sont définies
          required: true
          type: string
        - name: dateRef
          in: path
          description: date de référence du jeu de données pour la catégorie de SUP et le territoire
          required: true
          type: string
      responses:
        '200':
          description: document XML des métadonnées
        '400':
          description: paramètre fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
        '500':
          description: erreur du serveur
  '/jdsup/{codeSup}/{codeTerritoire}/{dateRef}/Actes/{sschemin}':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne, a priori en PDF, un des actes associés au JD de SUP défini
      operationId: unActeSup
      produces:
        - application/pdf
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
        - name: codeTerritoire
          in: path
          description: code définissant le territoire sur lequel des SUP sont définies
          required: true
          type: string
        - name: dateRef
          in: path
          description: date de référence du jeu de données pour la catégorie de SUP et le territoire
          required: true
          type: string
        - name: sschemin
          in: path
          description: sous-chemin du document PDF dans le zip après Actes/
          required: true
          type: string
      responses:
        '200':
          description: un fichier PDF
          schema:
            type: file
        '400':
          description: code fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
  '/jdsup/{codeSup}/{codeTerritoire}/{dateRef}/{classeCnig}':
    get:
      tags:
        - servitude d'utilité publique
      summary: Retourne les objets géographiques {classeCnig} correspondants au JD de SUP
      operationId: objetsGeoSup
      produces:
        - application/json
      parameters:
        - name: codeSup
          in: path
          description: code définissant la catégorie de SUP
          required: true
          type: string
        - name: codeTerritoire
          in: path
          description: code définissant le territoire sur lequel des SUP sont définies
          required: true
          type: string
        - name: dateRef
          in: path
          description: date de référence du jeu de données pour la catégorie de SUP et le territoire
          required: true
          type: string
        - name: classeCnig
          in: path
          description: classe d'objets géographiques définie par le standard CNIG
          required: true
          type: string
          enum:
            - ASSIETTE_SUP_S
            - ASSIETTE_SUP_L
            - ASSIETTE_SUP_P
            - GENERATEUR_SUP_S
            - GENERATEUR_SUP_L
            - GENERATEUR_SUP_P
      responses:
        '200':
          description: opération réussie
          schema:
            $ref: '#/definitions/FeatureCollection'
        '400':
          description: code fourni invalide
        '404':
          description: aucun résultat ne correspond à cette requête
definitions:
  Autorite:
    type: object
    required:
      - id
      - libelle
      - nature
      - etat
      - uri
    properties:
      id:
        type: string
        example: '21054'
      libelle:
        type: string
        example : Commune de Beaune
      nature:
        type: string
        description: nature de l'autorité
        enum:
          - commune
          - EPCI
      departement:
        type: string
        description: code du département de l'autorité
        example: '21'
      etat:
        type: string
        description: état de l'autorité
        enum:
          - actuel
          - périmé
      uri:
        type: string
        example: http://urba.geoapi.fr/autorites/21054
      docUrba:
        type: array
        items:
          $ref: '#/definitions/DocUrba'
  DocUrba:
    type: object
    required:
      - idurba
      - nature
      - approbation
      - uri
    properties:
      idurba:
        type: string
        description: id du document d'urbanisme
      libelle:
        type: string
        description: libellé du document d'urbanisme
      idAutorite:
        type: string
        description: id de l'autorité en charge du document d'urbanisme
      libelleAutorite:
        type: string
        description: libellé de l'autorité en charge du document d'urbanisme
      departement:
        type: string
        description: département dans lequel le document d'urbanisme se situe
      nature:
        type: string
        description: nature du document d'urbanisme
        enum:
          - PLU
          - PLUI
          - POS
          - CC
          - PSMV
      etat:
        type: string
        description: état du document
        enum:
          - arrêté
          - approuvé
          - opposable
          - annulé
          - partiellement annulé
          - remplacé
          - abrogé
          - caduc
      approbation:
        type: string
        description: date d'approbation du document par l'autorité en charge
      fin:
        type: string
        description: date de fin d'opposabilité s'il n'est plus opposable
      uri:
        type: string
      piecesEcrites:
        type: array
        items:
          type: string
          description: liste des URL des pièces écrites
  FeatureCollection:
    type: object
    required:
      - type
      - features
    properties:
      type:
        type: string
        description: la valeur 'FeatureCollection'
        example: FeatureCollection
      features:
        type: array
        description: liste des Features
        items:
          type: object
          required:
            - type
            - properties
            - geometry
          properties:
            type:
              type: string
              description: la valeur 'Feature'
              example: Feature
            properties:
              type: object
              description: propriétés de l'objet géographique
            geometry:
              type: object
              description: géométrie de l'objet géographique
externalDocs:
  description: Documentation de l'API
  url: https://github.com/benoitdavidfr/geoapi-urba
